.background-container {
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the background image */
    height: 100vh; /* Full viewport height */
    display: flex; /* Enable flexbox for centering child elements */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
  }


.closed-sidebar {
  visibility: visible;
}

.open-sidebar {
  visibility: hidden;
}